AZURE_DEVOPS_ORG=db1global
AZURE_DEVOPS_PROJECT=Koncili
AZURE_DEVOPS_EXT_PAT=replace-me

GITLAB_API_URL=https://gitlab.k8s-infra.koncili.intranet/api/v4
GITLAB_PERSONAL_ACCESS_TOKEN=replace-me
NODE_EXTRA_CA_CERTS=certs/koncili-intranet-ca.crt
